<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D.O.G.S</title>
    <link rel="stylesheet" href="/public/CSS/style.css">
</head>

<section>

<h1>add dog</h1>

<form class="dog-form form">
  <label for="dog-name"> Dog name </label>
  <input type="text" id="dog-name">

  <label for="dog-breed"> Dog breed </label>
  <input type="text" id="dog-breed">

  <label for="dog-temperament"> Dog temperament</label>
  <input type="text" id="dog-temperament">

  <button type="submit"> Submit </button>
</form>

</section>

<section>

<h1>edit dog</h1>
<form class="edit-dog-form form">
  <label for="edit-dog-id">Choose which dog to edit</label>
  <select name="dog-id" id="edit-dog-id">
    {{#each user.my-dogs as |dog|}}
    <option value="{{dog.id}}">{{dog.name}}</option>
    {{/each}}
  </select>

  <label for="edit-dog-name">Dog name</label>
  <input type="text" id="edit-dog-name">

  <label for="edit-dog-breed">Dog breed</label>
  <input type="text" id="edit-dog-breed">

  <label for="edit-dog-temperament">Dog temperament</label>
  <input type="text" id="edit-dog-temperament">

  <button type="submit"> Submit </button>
</form>

</section>

<section>
<h2>my dogs:</h2>

<ol>
  {{#each user.my-dogs as |dogs|}}
  <li>
    <ul>
      <li>
        name: {{dogs.name}}
      </li>
      <li>
        breed: {{dogs.breed}}
      </li>
      <li>
        temperament: {{dogs.temperament}}
      </li>
    </ul>
  </li>
  {{/each}}
</ol>
</section>

<script defer src="/javascript/add-dog.js"></script>
<script defer src="/javascript/edit-dog.js"></script>

