<div class="username-container">
<h1 id="username">{{user.username}}</h1>
</div>
<div id="user_id" style="display: none;">{{user.id}}</div>

<div class="dog-container">
  <h2 class="my-dogs"> My dogs: </h2>
  <ol>
    {{#each user.my-dogs as |dog|}}
    <li>
      <ul>
        <li>
          <h3>name: {{dog.name}}</h3>
        </li>
        <li>
          <h3>breed: {{dog.breed}}</h3>
        </li>
        <li>
          <h3>temperament: {{dog.temperament}}</h3>
        </li>
      </ul>
    </li>
    {{/each}}
  </ol>
</div>

<div class="top-dog-container">
  <h2>My top dogs:</h2>
  <ol>
    {{#each user.top-eight as |top-dog|}}
    <li>
      <h3>{{top-dog.name}}</h3>
    </li>
    {{/each}}
  </ol>
</div>
